
# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.backup

# frontend env
frontend/.env
# Python
backend/.env
backend/venv/
backend/app/__pycache__/
*.pyc
__pycache__/
